*{font-family:Microsoft YaHei;}

QLabel#contentLabel
{
	font-size:14px;
}

QPushButton#pButtonOk
{
	color:white;
	background-color:rgb(85 , 200 , 100);
	border: 1px solid rgb(183 , 183 , 183);
}

QPushButton#pButtonOk:hover
{
	color:white;
	background-color:rgb(70 , 196, 86);
	border: 1px solid rgb(183 , 183 , 183);
}

QPushButton#pButtonOk:pressed
{
	color:white;
	background-color:rgb(62 , 193 , 79);
	border: 1px solid rgb(183 , 183 , 183);
	padding-left:3px;
	padding-top:3px;
}

QPushButton#pButtonCancel
{
	color:black;
	background-color:rgb(238 , 238 , 238);
	border: 1px solid rgb(183 , 183 , 183);
}

QPushButton#pButtonCancel:hover
{
	color:black;
	background-color:rgb(228 , 240 , 250);
	border: 1px solid rgb(183 , 183 , 183);
}

QPushButton#pButtonCancel:pressed
{
	color:black;
	background-color:rgb(204 , 228 , 247);
	border: 1px solid rgb(183 , 183 , 183);
	padding-left:3px;
	padding-top:3px;
}